---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            
            <Paragraph className="mt-8">
                We are also deeply grateful for the invaluable guidance and mentorship provided by <span class="font-black">Amrish Krishnan </span>. He plays a pivotal role in uplifting our venture. His expertise and vision have been instrumental in our journey.
                <br>
            </Paragraph>
            <Paragraph className="mt-2">
                Our leadership team at Hlo is a powerhouse of talent, including:
            </Paragraph>
            <ul class="mt-8 space-y-4 font-black text-heading-3 ">
                <li>
                    <a href="https://www.linkedin.com/in/avra/"><span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Aravindh Ravichandran</a>
                    
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/amrish-krishnan/"> <span class="font-black bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>   Amrish Krishnan</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/rahul-b-b23078225"> <span class="font-black bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Rahul</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/venkat-sai-sujan-1b870b31/">  <span class="font-black bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Venkat Sai Sujan</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/sabari-h-80812221b/"><span class="font-black bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Sabari</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/monishaakm/"><span class="font-black bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Monishaa A</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kishore-kumar-lkk/"><span class="font-black bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Kishore Kumar</a>
                </li>
            </ul>
            <Paragraph className="mt-8">
            Together, we are dedicated to driving innovation, shaping narratives, and creating a brighter future for generations to come. <br> </Paragraph>
            <Paragraph className="mt-2">
Join us in our journey as we embark on ambitious endeavors, take the long view, and empower innovators and storytellers to flourish. Together, we'll shape a brighter future, leaving an indelible legacy for generations to come.
</Paragraph>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/features.webp"}  alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 rounded-lg absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>